.nav {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: auto;
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.2s ease;
    border: none;
}

.active {
    color: red;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}