.nav {
    display: inline-flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.2s ease;
    border: none;
}

.active {
    color: rgb(221, 174, 174);
}