.contactList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.contactListItem {
    display: flex;
    align-items: center;
}

.noContacts {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: red;
}